.loginwrapper{
    background: url('../public/background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .loginwrapper:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
  }
  .title {
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 35px 0;
  }
  .subtitle {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 35px 0;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 420px;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
  }
  .contentregister{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 70%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    height: 90%;
    overflow-y: scroll;
  }
  .field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    font-size: 16px;
    font-family: sans-serif;
    background: rgba(255,255,255,0.94);
  }
  .field span{
    color: #222;
    width: 40px;
    line-height: 45px;
  }
  .field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  .submit{
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    min-height: 50px;
    font-weight: 600;
    cursor: pointer;
    font-family: sans-serif;
  }
  .submit:hover{
    background: #0d4f70;
  }
  .signup{
    font-size: 18px;
    color: white;
    font-family: 'Poppins',sans-serif;
  }
  .signup a{
    color: #3498db;
    text-decoration: none;
  }
  .signup a:hover{
    text-decoration: underline;
  }
  